*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
}
.container1{
    background-color: black;
    color: antiquewhite;
    text-align: center;
}
.img1{
    text-align: center;
}

.about{
    text-align: center;
    margin: 3%;
}